# Build output
/dist
/dist-ssr

# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Vite cache
.vite/

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-workspace
.history/

# System
.DS_Store
Thumbs.db
