<div class="contenido container-fluid">
    <div class="texto">
        <h1> Hola <span class="text-primary">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">. </font>
                </font>
            </span>
            Soy
            <span class="text-primary">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rodrigo Reynoso</font>
                </font>
            </span>
        </h1>
        <h4>Analista de sistemas | Front end | Sysadmin</h4>
        <div class="textopersonal">
            <p>Soy Analista de Sistemas, vivo en <b>Granadero Baigorria, Santa Fe.</b></p>
            <p>Trabajo como desarrollador web, actualmente en el area Front-End web y mobile, tengo experiencia en el
                area de infraestructura.</p>
            <p>Me apasionan las tecnologías, me gusta el trabajo en equipo y poder aportar mi parte para sacar lo mejor
                del equipo.</p>
            <p>Perfil autodidacta y proactivo, puedo unirme a una empresa y brindar todo mi conocimiento y experiencia
                para cumplir con los objetivos.</p>
            <p>Me gustan los desafíos. Me motiva tener metas definidas y me considero capaz de cumplirlas.</p>
        </div>

    </div>

</div>