body{
    height: 100%;
}
.boton-menu{
    display: none;
}

.sidebar{
    width: 20%;
    padding: 0;
}
.contenido{
    width: 80%;
    padding: 0;
}


@media only screen and (max-width: 600px){
    .boton-menu{
        display: block;
        outline: none;
        box-shadow: none;
        
    }
   
    .sidebar{
        display: none;
        outline: none;
    
    }
    .offcanvas-body{
        padding: 2px;
    }
    .contenido{
        margin-top: 30px;
        width: 100%;
    }
    


}
